/* * {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
} */
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.fade {
  opacity: 1;
}

.fade:hover {
  opacity: 0.6;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}
.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}
.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  animation: rotation 20s linear infinite;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.description {
  margin: 100px auto;
}
.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph {
  margin: 0 0 30px;
}
.two-columns__paragraph:last-of-type {
  margin: 0;
}
.two-columns__span-accent {
  font-weight: bold;
}
.techniques {
  width: 80%;
  margin: 100px auto 0;
}
.cards__item {
  width: 240px;
  margin-bottom: 60px;
}
.cards__item:nth-of-type(2), .cards__item:nth-of-type(3), .cards__item:nth-of-type(5) {
  margin-left: 100px;
}
.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
  padding: 0;
}
.cards__image{
  margin: 60px 40px 43px;
  border-radius: 100px;
}
.cards__title {
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.cards__description {
  line-height: 23px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.video {
  margin: 100px auto -50px;
}
.video__iframes {
  margin: 50px auto 0;
  display: flex;
}
.video__iframe {
  margin: 0 20px 0 auto;
}
.video__iframe iframe {
  border: 0px;
}
.video__iframe:last-of-type {
  margin: 0 auto 0 0;
}
.oakley {
  background: #f2f2f2;
  padding-top: 160px;
}
.digits {
  margin: 0 auto 100px;
}
.section-title {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding-top: 100px
}
.section-subtitle {
  width: 60%;
  margin: 0 auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}
.khan{
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 105px 0 0;
}
.khan__container {
  width: 80%;
  margin: 0 auto 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px;
}
.khan__quote{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 36px;
}
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}
.khan__book-container {
  display: flex;

}
.khan__quote{
  width: 790px
}
.khan__buy-link a {
  margin: 0 0 0 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
}
.khan__book-pic img {
  width: 100%;
}
.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 auto;
  width: 1100px;
  z-index: 2;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.table__text {
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  position: relative;
  min-height: 790px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat 0px 253px;
  padding-top: 100px;
  top: 0;
}
.feynman__title {
  margin: 0px auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}
.feynman__subtitle {
  text-align: center;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}
.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0 90px;
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 0;
}
.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
  background: url(../images/kaufman-triangle.svg) no-repeat 0 0;
  background-size: 100%;
  animation: rotation 20s linear infinite;
}
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark {
  margin: 0 0 20px;
}
.resources{
padding: 100px 0 217px;
}
.section-title{
  margin: 0 auto 20px;
}
.section-subtitle{
  margin: 0 auto 80px;
}
.resources__logo-zone {
  width: 1100px;
  display: flex;
  margin: 0 auto;
}
.resources__logo {
  width: 270px;
  height: 38px;
  margin: auto;
}
.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
}
.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0 auto 0;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex: content;
  flex-basis: 711px;
}
.footer__author {
 margin: 18px 0 18px;
 line-height: 25px;
 font-size: 18px;
 font-weight: normal;
}
.logo_place_footer {
  width: 182px;
  height: 35px;
  margin-bottom: auto;
}
.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-link {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  text-align: left;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}
ul {
  padding: 0;
  margin: 0;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
